
body {
    background-color: whitesmoke; 
    margin: 0px auto;
    width: 900px;
    border: none!important;
    margin-top: 80px;
}

form {
    margin: 0px auto;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    border: solid 3px;
    margin-top: 80px;
}

button{
    margin-left: 710px;
}

label{
    width: 100px!important;
}

p{
	color: red;
}

